@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
}

.head-label {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}

.fc-license-message{
  display: none;
}

.fc-resizer.fc-end-resizer {
  display: none;
}